@using Scribble.Identity.Web.Infrastructure.Helpers
@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "_Layout";
}

@using (Html.BeginForm("ForgotPassword", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
{
    @Html.Logo()
    @Html.Title("Account recovery", "To help keep your account safe, Scribble wants to make sure it’s really you trying to sign in")
    
    @Html.LabelFor(m => m.Email, "Email")
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email...", type = "email"})
    
    <button type="submit">Continue</button>

    <div class="form-links">
        @Html.ActionLink("Sign in", "SignIn", "Account", new {returnUrl = ViewData["ReturnUrl"]}, new
        {
            @class = "button"
        })
        @Html.ActionLink("Sign up", "SignUp", "Account", new {returnUrl = ViewData["ReturnUrl"]}, new
        {
            @class = "button"
        })
    </div>
}

