@using Scribble.Identity.Web.Infrastructure.Helpers
@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset password";
    Layout = "_Layout";
}

@using (Html.BeginForm("ResetPassword", "Account", new { userId = ViewData["UserId"], code = ViewData["Code"], returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
{
    @Html.Logo()
    @Html.Title("Account recovery", "Enter new password for your account")

    @Html.LabelFor(m => m.Password, "Password")
    @Html.TextBoxFor(m => m.Password, new { placeholder = "Enter new password...", type = "password" })
        
    @Html.LabelFor(m => m.ConfirmPassword, "Confirm")
    @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm password...", type = "password" })

    <button type="submit">Submit</button>
}