@using Scribble.Identity.Web.Infrastructure.Helpers
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
    Layout = "_Layout";
}

<div class="form-container">
    @Html.Logo()
    @Html.Title("Sign in", "User your Scribble account")
    <section id="sign-in-form">
        <form method="post" autocomplete="off" asp-action="SignIn" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <div class="form-group">
                <label asp-for="Email">Username</label>
                <input asp-for="Email" type="text" placeholder="Email or Phone">
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input asp-for="Password" type="password" placeholder="Password">
            </div>
            <button class="main-button" type="submit">Sign in</button>
        </form>
    </section>
    <div class="social">
        <section id="sign-in-form-with-google">
            <form method="post" asp-action="ExternalSignIn" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <button class="button" name="provider" value="Google" type="submit">
                    <i class="icon fi fi-brands-google"></i>Google
                </button>
            </form>
        </section>
        <section id="sign-in-form-with-vk">
            <form method="post" asp-action="ExternalSignIn" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">
                <button class="button" name="provider" value="Vkontakte" type="submit">
                    <i class="icon fi fi-brands-vk"></i>VK
                </button>
            </form>
        </section>
    </div>
    <div class="form-links">
        <a class="button" asp-action="ForgotPassword" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">Forgot password?</a>
        <a class="button" asp-action="SignUp" asp-controller="Account" asp-route-returnUrl="@ViewData["ReturnUrl"]">Sign Up</a>
    </div>
</div>