@using Scribble.Identity.Web.Infrastructure.Helpers
@model SignUpViewModel

@{
    ViewData["Title"] = "Sign up";
    Layout = "_Layout";
}

@using (Html.BeginForm("SignUp", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
{
    @Html.Logo()
    @Html.Title("Sign up", "Create your Scribble account")
    
    @Html.LabelFor(m => m.Email, "Email")
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Enter your email...", type = "email" })
    
    <div class="form-group">
        <div class="form-container">
            @Html.LabelFor(m => m.Password, "Password")
            @Html.TextBoxFor(m => m.Password, new { placeholder = "Enter password...", type = "password" })
        </div>
        <div class="form-container">
            @Html.LabelFor(m => m.ConfirmPassword, "Confirm")
            @Html.TextBoxFor(m => m.ConfirmPassword, new { placeholder = "Confirm password...", type = "password" })
        </div>
    </div>
    
    <button type="submit">Sign up</button>
                               
    <div class="social">
        <a class="button" href="#"><i class="icon fi fi-brands-google"></i>Google</a>
        <a class="button" href="#"><i class="icon fi fi-brands-vk"></i>VK</a>
    </div>
    <div class="form-links">
        @Html.ActionLink("Sign in instead", "SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"]}, new
        {
            @class = "button"
        })
    </div>
}