@using Scribble.Identity.Web.Infrastructure.Helpers
@model SignInViewModel

@{
    ViewData["Title"] = "Sign in";
    Layout = "_Layout";
}

@using(Html.BeginForm("SignIn", "Account", new { returnUrl = ViewData["ReturnUrl"] }, FormMethod.Post))
{
    @Html.Logo()
    @Html.Title("Sign in", "User your Scribble account")
        
    @Html.LabelFor(m => m.Email, "Username")
    @Html.TextBoxFor(m => m.Email, new { placeholder = "Email or Phone", type = "email"})
        
    @Html.LabelFor(m => m.Password, "Password")
    @Html.TextBoxFor(m => m.Password, new { placeholder = "Password", type = "password" })
    
    <button type="submit">Sign in</button>
                               
    <div class="social">
        <a class="button"><i class="icon fi fi-brands-google"></i>Google</a>
        <a class="button" href="#"><i class="icon fi fi-brands-vk"></i>VK</a>
    </div>

    <div class="form-links">
        @Html.ActionLink("Forgot password?", "ForgotPassword", "Account", new { returnUrl = ViewData["ReturnUrl"] }, new
        {
            @class = "button"
        })
        @Html.ActionLink("Sign Up", "SignUp", "Account", new { returnUrl = ViewData["ReturnUrl"] }, new
        {
            @class = "button"
        })
    </div>
}